################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeWarsTests/obj/Release/netcoreapp2.0
/CodeWars/obj/Release/netcoreapp2.0
/CodeWarsTests/obj/Debug/netcoreapp2.0
